telethon==1.36.0
discord.py==2.3.0
requests==2.31.0
rich==13.7.0
python-dotenv==1.0.0
pycryptodome==3.19.1
pysocks==1.7.1
fpdf2==2.7.4
supabase==2.3.0
duckduckgo-search==5.3.8
beautifulsoup4==4.12.2
pandas==2.1.4
aiohttp==3.9.1
discord-interactions==0.4.0
phonenumbers==8.13.26
curl_cffi==0.5.10
